{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul>
                            {% if product_categories %}
                                {% for category in product_categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                                <div class="hero__search__phone">
                                        <div class="hero__search__phone__icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="hero__search__phone__text">
                                            <h5 class="line-height-50">{{ site_info.phone_num }}</h5>
                                        </div>
                               
                            </div> 
                        </div>
                    </div>

                    {% if banner %}
                        <div class="hero__item set-bg" data-setbg="{{ banner.image.url }}">
                    {% endif %}
<!--                     <div class="hero__text">-->
<!--                            <span>FRUIT FRESH</span>-->
<!--                            <h2>Vegetable <br />100% Organic</h2>-->
<!--                            <p>Free Pickup and Delivery Available</p>-->
<!--                            <a href="#" class="primary-btn">SHOP NOW</a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% if product_categories %}
                        {% for category in product_categories  %}
                        <div class="col-lg-3 category-slider">
                            <div class="set-bg new-set-bg categories__item" data-setbg="{{ category.photo_url }}">
                            </div>
                            <h5><a href="#">{{ category.name }}</a></h5>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            {% if product_categories %}
                                {% for category in  product_categories %}
                                    <li data-filter=".{{ category.slug }}">{{ category.name }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% if products %}
                {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{ product.category_slug }}">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="{{ product.photo_url }}">
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">{{ product.name }}</a></h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    {% if grid_banners %}
        <!-- Banner Begin -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    {% for grid_banner  in grid_banners %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="banner__pic">
                                <img src="{{ grid_banner.photo_url }}" alt="Grid Banner photo url">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Banner End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if latest_blogs %}
                    {% for blog in latest_blogs %}
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{ blog.photo_url }}" alt="{{ blog.title }}">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {{ blog.published_date | date:'Y-m-d' }} </li>
                                    </ul>
                                    <h5><a href="{{ blog.blog_detail_url }}">{{ blog.title }}</a></h5>
                                    <p> {{ blog.description.html | striptags | truncatewords:20 }}  </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock body %}
  