{% load static %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2> {{ page_title }}  </h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'index' %}">Home</a>

                        {% if deep_level1_title %} 
                            <a href="{{ deep_level1_link }}">{{ deep_level1_title }}</a>
                        {% endif %}
                        
                        {% if deep_level2_title %}
                            <a href="{{ deep_level2_link }}">{{ deep_level2_title }}</a>
                        {% endif %}
                        
                        {% if  page_detail_title %}
                            <span>{{ page_detail_title }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
